@using Microsoft.AspNetCore.Razor.Language
@model ProjectApp.Models.DetailsVM

@{
ViewData["Title"] = "Auction Details";
}

<h1>@Model.Name</h1>
<p>@Model.Description</p>
<p>Owner: @Model.OwnerName</p>
<p>Starting Price: @Model.StartingPrice Kr</p>
<p>End Date: @Model.EndDate</p>

<h2>Bids</h2>
<table class="table">
    <thead>
    <tr>
        <th>Bid Amount</th>
        <th>Bidder</th>
        <th>Bid Time</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var bid in Model.Bids.OrderByDescending(b => b.BidAmount)) // Sortera buden så det högsta kommer först
    {
    <tr>
        <td>@bid.BidAmount</td>
        <td>@bid.OwnerId</td>
        <td>@bid.BidTime</td>
    </tr>
    }
    </tbody>
</table>

<p>
    <a asp-action="Bid" asp-route-id="@Model.Id">Bid on "@Model.Name"</a>
</p>



<a asp-action="Index">Back to Your Auctions</a>   |  <a asp-action="ActiveAuctions">View All Active Auctions</a>